.DS_Store
__pycache__
.vscode

coco
gqa
textvqa
multimodal

vqav2/Images/*
!vqav2/Images/README.md
vqav2/Results/*.json
vqav2/Results/*.jsonl
vqav2/Annotations/*.json
vqav2/Questions/*.json

seed1/*
!seed1/README.md

*.safetensors
*.ipynb

test*